<!--Navbar-->
<nav class="navbar navbar-dark sticky-top navbar-expand-lg navbar-light" style="background-color: #222831">
    <h1 class="mb-0"><a href="/movies" class="text-white h2 mb-0">
        <strong>CINEMAWORLD
            <span class="text-primary">.</span>
        </strong>
        </a>
    </h1>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end pr-5" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light pr-4" href="/movies">Now Showing
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi, Jane Doe!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/movies/seats/reservations/dashboard">Your Reservations</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--Navbar-->